<div class="container">
  <div class="p-grid">
    <div class="p-grid-12">
      <h1>Pessoas</h1>
    </div>

    <div class="p-grid-12 p-fluid">
      <label style="display: block;">Nome</label>
      <input pInputText type="text">
    </div>

    <div class="p-grid-12">
      <button class="btn" pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-grid-12">
      <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>
    </div>

    <div class="p-grid-12">
      <a class="btn" pButton label="Nova Pessoa"></a>
    </div>
  </div>

</div>
